# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Solidity
build/
contracts/*.json

# Docker
.dockerignore

# Editor files
.vscode/
.idea/

# Misc
.DS_Store
Thumbs.db
.env
.dockerignore